<div class="container mt-4">
  <h2 class="col-12 mb-4 fw-bold d-flex justify-content-between">Edit User Profile</h2>
  <form [formGroup]="profileForm" class="p-4 rounded shadow bg-white">
    <div class="row">
      <!-- Avatar Upload Section -->
      <div class="col-12 text-center mb-3">
        <div class="avatar-preview" (click)="fileInput.click()">
          <img
            *ngIf="profileForm.get('avatar')?.value"
            [src]="profileForm.get('avatar')?.value"
            alt="User avatar"
          />
          <div
            *ngIf="!profileForm.get('avatar')?.value"
            class="avatar-placeholder"
          >
            <span>Upload Profile Picture</span>
          </div>
        </div>
        <input
          type="file"
          #fileInput
          (change)="onFileSelected($event)"
          hidden
        />
      </div>
      <mat-error class="mb-3" *ngIf="profileForm.get('avatar').touched && getFormControl('avatar').hasError('required')">
        Avatar is required
      </mat-error>

      <!-- Form Fields -->
      <div class="col-md-6">
        <app-input
          label="First Name"
          [formControl]="getFormControl('firstName')"
          placeholder="Enter your first name"
          formControlName="firstName"
        ></app-input>
      </div>

      <div class="col-md-6">
        <app-input
          label="Last Name"
          [formControl]="getFormControl('lastName')"
          placeholder="Enter your last name"
          formControlName="lastName"
        ></app-input>
      </div>

      <div class="col-md-6">
        <app-input
          label="Email"
          [formControl]="getFormControl('email')"
          placeholder="Enter your email"
          formControlName="email"
          type="email"
        ></app-input>
      </div>

      <div class="col-md-6">
        <app-input
          label="Phone Number"
          [formControl]="getFormControl('phoneNumber')"
          placeholder="Enter your phone number"
          formControlName="phoneNumber"
        ></app-input>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Choose a date</mat-label>
          <input
            matInput
            [formControl]="getFormControl('dob')"
            placeholder="Select your date of birth"
            [matDatepicker]="picker"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error class="mt-1" *ngIf="getFormControl('dob').hasError('required')">
            Date of Birth is required
          </mat-error>
          <mat-error class="mt-1" *ngIf="getFormControl('dob').hasError('minAge')">
            Minimum age should be 14 years old
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="form-actions text-center mt-4 col-4 d-flex">
      <app-button
        color="outline-primary"
        [text]="'Change Password'"
        [buttonType]="'normal'"
        (buttonClick)="changePassword()"
      ></app-button>
      <app-button
        class="ms-1"
        color="primary"
        [text]="'Submit'"
        [buttonType]="'normal'"
        (buttonClick)="onSubmit()"
      ></app-button>
      <app-button
        class="ms-1"
        [buttonType]="'normal'"
        [text]="'Back to dashboard'"
        [color]="'secondary'"
        (buttonClick)="navigate()"
      >
      </app-button>
    </div>
  </form>
</div>
