<div class="container-fluid">
  <div class="card p-3">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex justify-content-between align-items-center">
        <app-button
          [buttonType]="'icon'"
          [color]="'primary'"
          [icon]="'chevron_left'"
          (buttonClick)="navigate(-1)"
        >
        </app-button>
        <app-button
          [buttonType]="'normal'"
          [color]="'primary'"
          [text]="'Today'"
          [disable]="isTodayButtonDisabled()"
          (buttonClick)="goToToday()"
        >
        </app-button>
        <app-button
          [buttonType]="'icon'"
          [color]="'primary'"
          [icon]="'chevron_right'"
          (buttonClick)="navigate(1)"
        >
        </app-button>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <app-button
          [buttonType]="'normal'"
          [color]="isDayView ? 'primary' : 'secondary'"
          [text]="'Day'"
          (buttonClick)="toggleView(true)"
        >
        </app-button>

        <app-button
          [buttonType]="'normal'"
          [color]="!isDayView ? 'primary' : 'secondary'"
          [text]="'Week'"
          (buttonClick)="toggleView(false)"
        >
        </app-button>
      </div>
    </div>
    <div class="table-responsive" style="max-height: 500px; overflow-y: auto">
      <table class="table table-bordered mt-3">
        <thead class="table-primary">
          <tr>
            <th>Time Slot</th>
            <th *ngFor="let day of displayedDays">
              {{ day.description }}, {{ day.date | date : "dd-MM-yyyy" }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let slot of slots">
            <td>{{ slot.startTime }} - {{ slot.endTime }}</td>
            <td
              *ngFor="let day of displayedDays"
              (click)="
                getSlotStatus(day, slot).status === 'available' &&
                  handleSlotClick(day.guid, slot.guid, day.date)
              "
              [ngClass]="getSlotClass(day, slot)"
            >
              {{ getSlotDisplayText(day, slot) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div
    class="d-flex justify-content-between align-items-center p-3 bg-primary text-white rounded mt-3"
  >
    <span>Total Time Slots: {{ getSelectedSlotCount() }}</span>
    <app-button
      [buttonType]="'normal'"
      [color]="'danger'"
      [text]="'BOOK NOW'"
      (buttonClick)="bookNow()"
    >
    </app-button>
  </div>
</div>
