@import "bootstrap/dist/css/bootstrap.min.css";

.container-fluid {
  padding: 20px;
  background-color: #f8f9fa;
}

.card {
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  background: #fff;
}

.booking-summary {
  background: #343a40;
  color: white;
  padding: 15px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}

.btn-success {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  transition: all 0.3s;
}

.btn-success:hover {
  background: #218838 !important;
}

a {
  text-decoration: none !important;
}

.selected {
  background-color: #50960f !important;
}

.available {
  background-color: #d4edda !important;
  cursor: pointer;
}

.booked {
  background-color: #a09d9dcc !important;
  cursor: not-allowed;
}

.closed {
  background-color: #f5e7d4 !important;
  cursor: not-allowed;
}

.past {
  background-color: #faa5a6 !important;
}

.unavailable {
  background-color: #d4edda !important;
}

td {
  text-align: center;
  border: 1px solid rgb(116, 114, 114);
  border-left: 0px !important;
}

td:first-child, th:first-child {
  white-space: nowrap;
  width: 250px;
}

td:not(:first-child), th:not(:first-child) {
  white-space: nowrap;
  width: 200px;
}

.calendar-table {
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: scroll;

  th:not(:first-child) {
    position: sticky;
    top: 0;
  }

  th:first-child {
    z-index: 1;
    position: sticky;
    left: 0;
    top: 0;
  }
  
  td:first-child {
    position: sticky;
    left: 0;
  }
}

.calendar-border {
  border: 1px solid rgb(116, 114, 114) !important;
  border-top: 0px !important;
  border-left: 0px !important;
  border-bottom: 1px solid rgb(116, 114, 114);
}

::ng-deep {
  .calendar-button {
    .btn {
      border-radius: 0% !important;
    }
  }
}

.width-200 {
  width: 200px;
}

.width-500 {
  width: 500px;
}
