<div>
  <mat-dialog-content>
    <form
      [formGroup]="changePasswordForm"
    >
      <h2 class="text-center mb-4">Change Password</h2>
      <app-input
        label="Old Password"
        [formControl]="getFormControl('oldPassword')"
        placeholder="Enter Old Password"
        formControlName="oldPassword"
      ></app-input>
      <app-input
        label="New Password"
        [formControl]="getFormControl('password')"
        placeholder="Enter New Password"
        formControlName="password"
      ></app-input>
      <app-input
        label="Confirm Password"
        [formControl]="getFormControl('confirmPassword')"
        placeholder="Enter Confirm Password"
        formControlName="confirmPassword"
      ></app-input>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <app-button
      [text]="'Change Password'"
      [buttonType]="'normal'"
      (buttonClick)="changePassword()"
    >
    </app-button>
    <app-button class="ms-1"
      [text]="'Cancel'"
      [buttonType]="'normal'"
      (buttonClick)="back()"
    ></app-button>
  </mat-dialog-actions>
</div>