<div>
  <mat-dialog-content>
    <form
      [formGroup]="registrationForm"
      class="registration-form p-4 rounded shadow bg-white"
    >
      <h2 class="text-center mb-4">Change Password</h2>
      <app-input
        label="New Password"
        [formControl]="getFormControl('password')"
        placeholder="Enter New Password"
        formControlName="password"
        (keypress)="restrictTextInput($event)"
      ></app-input>
      <app-input
        label="Last Name"
        [formControl]="getFormControl('confirmPassword')"
        placeholder="Enter Confirm Password"
        formControlName="confirmPassword"
      ></app-input>
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <app-button
      [text]="'Change Password'"
      [buttonType]="'normal'"
      (buttonClick)="changePassword()"
    >
    </app-button>
    <app-button 
      [text]="'Cancel'"
      [buttonType]="'normal'"
      (buttonClick)="back()"
    ></app-button>
    </button>
  </mat-dialog-actions>
</div>
