.registration-container {
  height: 100vh;
  background: url('/assets/images/grass-2616911_1280.jpg') no-repeat center center;
  background-size: cover;
}

.registration-form {
  width: 100%;
  max-width: 500px;
  background: rgba(255, 255, 255, 0.9);
}