<div class="d-flex justify-content-between align-items-center mb-3">
  <div>
    <div class="d-flex align-items-center flex-grow">
      <input
        type="text"
        class="form-control w-100"
        placeholder="Search by field name"
        [(ngModel)]="searchQuery"
        (ngModelChange)="onSearchChange()"
      />
      <div class="ms-2 form-check w-100 d-flex align-items-center">
        <input
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="showAvailableOnly"
        />
        <label class="form-check-label" for="availableOnly"
          >Show Available Fields Only</label
        >
      </div>
    </div>
  </div>

  <div>
    <button
      class="btn rounded-0"
      [ngClass]="{ 'btn-primary': isGridView, 'btn-light': !isGridView }"
      (click)="isGridView = true"
    >
      <mat-icon>{{ "grid_view" }}</mat-icon>
    </button>
    <button
      class="btn rounded-0"
      [ngClass]="{ 'btn-primary': !isGridView, 'btn-light': isGridView }"
      (click)="isGridView = false"
    >
      <mat-icon>{{ "list" }}</mat-icon>
    </button>
  </div>
</div>

<div class="row" *ngIf="isGridView">
  <div class="col-md-4 mb-3" *ngFor="let item of filteredItems()">
    <div class="card shadow-sm p-3">
      <div class="card-body row">
        <div
          *ngFor="let col of columns"
          [ngClass]="{
            'col-8': col.labelType === 'title',
            'col-4': col.labelType === 'badge'
          }"
        >
          <ng-container *ngIf="col.isVisible">
            <div *ngIf="col.labelType === 'image'" class="mb-3">
              <img
                [src]="item[col.key]"
                class="card-img-top rounded"
                alt="Field Image"
                height="200"
              />
            </div>
            <h4 *ngIf="col.labelType === 'title'" class="mb-0 d-flex align-items-center">
              {{ item[col.key] }}
              <button *ngIf="isAdmin" mat-icon-button [matMenuTriggerFor]="menuRef">
                <mat-icon>more_vert</mat-icon>
              </button>
            </h4>
            <span
              *ngIf="col.labelType === 'badge'"
              class="badge px-3 py-2"
              [ngClass]="item[col.key] ? 'bg-success' : 'bg-danger'"
            >
              {{ item[col.key] ? "Available" : "Not Available" }}
            </span>

            <div *ngIf="col.labelType === 'description'" class="mt-2">
              <p>{{ item[col.key] }}</p>
            </div>

            <div *ngIf="col.labelType === 'list'">
              <ul class="list-unstyled mt-1">
                <li class="d-flex align-items-center">
                  <mat-icon class="me-2">{{ col.icon }}</mat-icon>
                  <strong class="pe-2">{{ col.label }}:</strong>
                  {{ item[col.key] }}
                </li>
              </ul>
            </div>
          </ng-container>
        </div>
        <div class="d-flex">
          <app-button
            buttonType="normal"
            color="warning"
            text="BOOK NOW"
            iconPosition="right"
            [disable]="disability(item)"
            (buttonClick)="buttonClick(item)"
          >
          </app-button>
        </div>
      </div>
      <mat-menu #menuRef="matMenu">
        <button *ngIf="isAdmin" mat-menu-item (click)="edit(item)">
          <mat-icon>edit</mat-icon> Edit
        </button>
        <button mat-menu-item (click)="rateAndAvailability(item, true)">
          <mat-icon>attach_money</mat-icon> Add Rate
        </button>
        <button mat-menu-item (click)="rateAndAvailability(item, false)">
          <mat-icon>event_available</mat-icon> Add Availability
        </button>
      </mat-menu>
    </div>
  </div>
</div>

<div class="list-group" *ngIf="!isGridView">
  <div
    class="list-group-item d-flex align-items-center my-2 border-rounded"
    *ngFor="let item of filteredItems()"
  >
    <div *ngFor="let col of columns">
      <div *ngIf="col.isVisible && col.labelType === 'image'" class="me-3">
        <img
          [src]="item[col.key]"
          class="rounded img-fluid height-150"
          width="250"
          alt="Field Image"
        />
      </div>
    </div>
    <div class="flex-grow-1">
      <div *ngFor="let col of columns">
        <ng-container *ngIf="col.isVisible">
          <div *ngIf="col.labelType === 'title'">
            <h5 class="mb-0 mt-2">{{ item[col.key] }}</h5>
          </div>
          <div
            *ngIf="col.labelType === 'badge'"
            class="float-end data-view-badge"
            [ngClass]="item[col.key] ? 'available' : 'not-available'"
          >
            <span
              class="badge px-3 py-2 mt-4"
              [ngClass]="item[col.key] ? 'bg-success' : 'bg-danger'"
            >
              {{ item[col.key] ? "Available" : "Not Available" }}
            </span>
          </div>

          <div *ngIf="col.labelType === 'description'">
            <p>{{ item[col.key] }}</p>
          </div>

          <div *ngIf="col.labelType === 'list'">
            <ul class="list-unstyled mb-0">
              <li class="d-flex align-items-center">
                <mat-icon class="me-2">{{ col.icon }}</mat-icon>
                <strong class="pe-1">{{ col.label }}:</strong>
                {{ item[col.key] }}
              </li>
            </ul>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="d-flex flex-column mt-3">
      <app-button
        color="warning"
        text="BOOK NOW"
        [disable]="disability(item)"
        (buttonClick)="buttonClick(item)"
      >
      </app-button>

      
    </div>
    <div class="position-absolute top-0 end-0 m-2" *ngIf="isAdmin">
      <button mat-icon-button [matMenuTriggerFor]="menuRef">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>

    <!-- Material Menu -->
    <mat-menu #menuRef="matMenu">
      <button mat-menu-item (click)="edit(item)">
        <mat-icon>edit</mat-icon> Edit
      </button>
      <button mat-menu-item (click)="rateAndAvailability(item, true)">
        <mat-icon>attach_money</mat-icon> Add Rate
      </button>
      <button mat-menu-item (click)="rateAndAvailability(item, false)">
        <mat-icon>event_available</mat-icon> Add Availability
      </button>
    </mat-menu>
  </div>
</div>
