.image-container {
    width: 120px; /* Fixed width */
    height: 100px; /* Fixed height */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures image scales properly */
    border-radius: 8px;
  }


.data-view-badge {
    position: relative;
    top: -17px;
}

.available {
    right: -94px;
}

.not-available {
    right: -110px;
}

.height-180 {
  height: 180px;
}

.height-630 {
  height: 630px;
  max-height: 800px;
}

::ng-deep {
  label.star {
    font-size: x-large !important;
    padding-top: 0px !important;
  }
}