<div class="width-400">
  <div  class="ps-4 pb-4" mat-dialog-title *ngIf="title && !requiresReason">{{ title }}</div>
  <mat-dialog-content class="text-wrap text-dark">
    <p *ngIf="!requiresReason">{{ message }}</p>
    <div *ngIf="requiresReason" class="mt-3">
      <app-textarea
        [label]="title"
        [placeholder]="'Enter your reason...'"
        [formControl]="reasonControl"
      ></app-textarea>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <app-button
      [text]="btnCancelText"
      [buttonType]="'normal'"
      [color]="'success'"
      (buttonClick)="onDismiss()"
    >
    </app-button>
    <app-button
      class="ms-1"
      *ngIf="!requiresReason"
      [text]="btnOkText"
      [buttonType]="'normal'"
      [color]="'danger'"
      (buttonClick)="onConfirm()"
    >
    </app-button>
    <app-button
      *ngIf="requiresReason"
      class="ms-1"
      text="Submit"
      [buttonType]="'normal'"
      [color]="'primary'"
      (buttonClick)="onSubmitReason()"
    ></app-button>
  </mat-dialog-actions>
</div>
