<button mat-button class="mb-2" *ngIf="addFormLink">
    <a href="#" class="text-decoration-none d-flex align-items-center" [routerLink]="addFormLink">
      <h3 class="mb-0 text-dark" color="primary">Add</h3>
      <mat-icon color="primary">add</mat-icon>
    </a>
  </button>
  
  <div class="d-flex justify-content-end col-3">
      <input type="search" (input)="onSearch()" (keydown.enter)="onSearch()" id="searchValue" [(ngModel)]="searchVal" (keyup)="onSearch()" placeholder="Search Here..." class="search-input form-control w-15">
  </div>
  
  <table matSort mat-table [dataSource]="dataSource" (matSortChange)="announceSortChange($event)">
  
    <!-- Define dynamic columns -->
    <ng-container *ngFor="let column of displayedColumns" matColumnDef="{{column.name}}">
      <ng-container *ngIf="!column.sort">
        <th mat-header-cell *matHeaderCellDef  class="text-capitalize" [ngClass]="{'ps-84': column.type == 'rating'}">{{ column.label }}</th>
      </ng-container>
      <ng-container *ngIf="column.sort">
        <th mat-header-cell *matHeaderCellDef  mat-sort-header class="text-capitalize">{{ column.label }}</th>
      </ng-container>
      <td mat-cell *matCellDef="let element">
        <!-- For showing data Columns -->
        <span *ngIf="column.type == 'label'">{{ element[column.name] ?? '-' }}</span>

        <ngx-star-rating class="float-start" *ngIf="column.type == 'rating'" [(ngModel)]="element[column.name]" [disabled]="true"></ngx-star-rating>
  
        <!-- For IsActive Column -->
        <mat-slide-toggle *ngIf="column.type == 'switch'" class="switch-color" (change)="toggle(element)"
          [(ngModel)]="element[column.name]" [disabled]="column && column.disabled ? true : false"></mat-slide-toggle>
  
        <!-- For Action Column -->
        <span *ngIf="column.type == 'button'">
          <ng-container *ngFor="let item of column.arr">
  
            <button class="btn" *ngIf="item.name == 'view'" mat-icon-button (click)="view(element)">
              <mat-icon *ngIf="item.src"  [fontIcon]="item.src"></mat-icon>
            </button>
            <!-- For Edit button -->
            <button class="btn" *ngIf="item.name == 'edit'" mat-icon-button (click)="edit(element)">
              <mat-icon *ngIf="item.src" [fontIcon]="item.src"></mat-icon>
            </button>
  
            <!-- For Delete button -->
            <app-button *ngIf="item.name == 'delete'" class="float-start"
            buttonType="icon"
            [icon]="item.src"
            (buttonClick)="delete(element)"
          ></app-button>
            
          </ng-container>
        </span>
      </td>
    </ng-container>
  
    <!-- Header row -->
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
  
    <!-- Data row -->
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell py-2 text-center h5" [attr.colspan]="columns.length">
        No data
      </td>
    </tr>
  
  </table>
  <mat-paginator *ngIf="showPagination" [pageSizeOptions]="paginationOptions" [pageIndex]="pageIndex" [pageSize]="pageSize" [length]="totalCount"  (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>