<div class="container mt-4">
  <h2 class="mb-4 fw-bold">Add Field Details</h2>
  <form [formGroup]="addFieldDetailsForm" class="p-4 rounded shadow bg-white">
    <div class="row">
      <div class="col-4">
        <app-input
          label="Field Name"
          [formControl]="getFormControl('fieldName')"
          placeholder="Enter Field name"
          formControlName="fieldName"
        ></app-input>
      </div>
      <div class="col-4">
        <app-input
          type="number"
          label="Area"
          [formControl]="getFormControl('area')"
          placeholder="Enter Area"
          formControlName="area"
        ></app-input>
      </div>
      <div class="col-4">
        <app-input
          label="Phone Number"
          [formControl]="getFormControl('phoneNumber')"
          placeholder="Enter your phone number"
          formControlName="phoneNumber"
          (keypress)="restrictPhoneInput($event)"
        ></app-input>
      </div>
      <div class="col-4">
        <app-textarea
          label="Address"
          [formControl]="getFormControl('address')"
          placeholder="Enter address"
          formControlName="address"
        ></app-textarea>
      </div>
      <div class="col-4">
        <app-textarea
          label="Description"
          [formControl]="getFormControl('description')"
          placeholder="Enter description"
          formControlName="description"
        ></app-textarea>
      </div>
      <div class="col-4">
          <app-textarea
            label="Rules & Policies"
            [formControl]="getFormControl('rulesPolicies')"
            placeholder="Enter rules & policies"
            formControlName="rulesPolicies"
          ></app-textarea>
      </div>
      <div class="col-4 mt-2">
        <app-input
          type="number"
          label="Base Rate"
          [formControl]="getFormControl('baseRate')"
          placeholder="Enter base rate"
          formControlName="baseRate"
        ></app-input>
      </div>
      <div class="col-4">
        <app-multi-select-checkbox
          *ngIf="dropdownData && dropdownData.length"
          label="Closed Days"
          placeholder="Select Closed Days"
          [options]="dropdownData"
          (selectionChangeEvent)="selectionChange($event)"
        ></app-multi-select-checkbox>
      </div>
      <div class="col-4">
        <app-checkbox
          type="number"
          label="Is Available"
          [checked]="addFieldDetailsForm.get('isAvailable')?.value"
          (checkedChange)="
            addFieldDetailsForm.get('isAvailable')?.setValue($event)
          "
        ></app-checkbox>
      </div>
      <div class="col-8 mt-2">
        <p class="fs-5 ms-2">Images*</p>
        <app-image-upload
          (filesUploaded)="onFilesUploaded($event)"
        ></app-image-upload>
        <mat-error class="error-messages visible" *ngIf="submitted && files && !files.length">At least 1 image is required</mat-error>
      </div>
    </div>
    <div class="form-actions text-center mt-4 col-4 d-flex">
      <app-button
        color="primary"
        type="submit"
        [text]="'Submit'"
        [buttonType]="'normal'"
        (buttonClick)="onSubmit()"
      ></app-button>
      <app-button
        class="ms-2"
        [text]="'Back'"
        color="secondary"
        [buttonType]="'normal'"
        (buttonClick)="back()"
      ></app-button>
    </div>
  </form>
</div>
