<div class="container mt-4">
  <h2 class="col-12 fw-bold d-flex justify-content-between">
    Modify Field {{ isRateView ? 'Rate' : 'Availability' }} 
    <app-button
      [buttonType]="'normal'"
      [text]="'Back'"
      [color]="'secondary'"
      (buttonClick)="navigate()"
    >
    </app-button>
  </h2>

  <div class="card p-3 mt-3">

    <app-calendar-editor
      [fieldSlotAvailability]="fieldSlot"
      (selectedSlotsEvent)="selectedEvents($event)"
      (selectedDaysEvent)="selectedDaysEvent($event)"
      [isRateView]="isRateView"
    ></app-calendar-editor>
  </div>
</div>
