<button
    [ngClass]="{
        'mat-raised': buttonType === 'normal',
        'mat-flat': buttonType === 'flat',
        'mat-stroked': buttonType === 'outline',
        'mat-fab': buttonType === 'icon' || buttonType === 'text-icon'
    }"
    [color]="color"
    *ngIf="buttonType !== 'text-icon'"
    (click)="onClick()"
>
    <ng-container *ngIf="buttonType !== 'icon' && buttonType !== 'text-icon'">
        {{ text }}
    </ng-container>

    <ng-container *ngIf="buttonType === 'icon'">
        <mat-icon>delete</mat-icon>
    </ng-container>

    <ng-container *ngIf="buttonType === 'text-icon'">
        <mat-icon>delete</mat-icon> {{ text }}
    </ng-container>
</button>